@import "../fonts/fonts.css";

/* main */

html,
body {
    font: normal 15px/26px CeraPro;
    color: #454442;
    background-color: #373736;
}

#wrapper {
    min-height: 100vh;
    overflow: hidden;
}

h1,
.h1 {
    font: 500 60px/72px CeraPro;
    color: #454442;
}

h2,
.h2 {
    margin-bottom: 50px;
    font: 500 60px/72px CeraPro;
    color: #4F4F4F;
}

h4,
.h4 {
    margin-bottom: 10px;
    font: 500 40px/50px CeraPro;
    color: #4F4F4F;
}

h5,
.h5 {
    margin-bottom: 20px;
    font: 500 30px/40px CeraPro;
    color: #4F4F4F;
}

p {
    font: normal 15px/26px CeraPro;
    color: #454442;
}

a {
    color: #fff;
    transition: color 300ms ease;
}

a:hover {
    color: #FCD9A6!important;
    text-decoration: none;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1470px;
}

.text__biscuit {
    color: #FCD9A6!important;
}

.mb-30 {
    margin-bottom: 30px;
}

.bg__light {
    background-color: #F8F8F8;
}


/* main */


/* form */

label {
    font: normal 16px/24px CeraPro;
    color: #454442;
}

.form-control {
    font: normal 16px/28px CeraPro;
    color: #454442;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
}

.form-control:focus {
    border: 1px solid #454442;
    outline: 0 none;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    color: #848E99;
}

.form-control::-moz-placeholder {
    color: #848E99;
}

.form-control:-ms-input-placeholder {
    color: #848E99;
}

.form-control::-ms-input-placeholder {
    color: #848E99;
}

.form-control::placeholder {
    color: #848E99;
}


/* form */


/* ico */

.ico.instagram {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(../imgs/icons/instagram.svg);
    transition: all 500ms ease;
}

a:hover .ico.instagram {
    background-image: url(../imgs/icons/instagram_hover.svg);
}

.ico.telegram {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(../imgs/icons/telegram.svg);
    transition: all 500ms ease;
}

a:hover .ico.telegram {
    background-image: url(../imgs/icons/telegram_hover.svg);
}

.ico.whatsapp {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(../imgs/icons/whatsapp.svg);
    transition: all 500ms ease;
}

a:hover .ico.whatsapp {
    background-image: url(../imgs/icons/whatsapp_hover.svg);
}


/* ico */


/* button */

.btn {
    padding: 1.35rem 3.35rem;
    font: 600 18px/18px Neris;
    color: #4F4333;
    border: 0 none!important;
    box-shadow: 0px 2px 30px rgba(231, 178, 113, 0.25)!important;
    border-radius: 4px;
}

.btn-primary {
    background-color: #FCD9A6;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
    color: #fff;
    background-color: #4F4333!important;
}

.btn-secondary {
    color: #fff;
    background: #373736;
    box-shadow: 0px 2px 30px rgba(231, 178, 113, 0.25);
    border-radius: 4px;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:visited {
    color: #fff;
    background-color: #4F4333!important;
}


/* button */


/* header */

#header a.logo {
    min-height: 49px;
    padding-left: 245px;
    font: normal 15px/20px CeraPro;
    background-image: url(../imgs/logo.svg);
    background-repeat: no-repeat;
    background-size: auto 49px;
    background-position: 0 0;
}

#header .border-bottom {
    border-color: rgba(255, 255, 255, .2)!important;
}

#header button[data-toggle="modal"] {
    padding: 2.335rem 4.335rem;
    font: 600 20px/20px Neris;
    box-shadow: 0px 4px 30px rgba(103, 80, 222, 0.1);
    border-radius: 2px;
}

#header .phone__box a {
    font: bold 18px/26px CeraPro;
    text-decoration: none;
}


/* header */


/* footer*/

#footer {
    padding-top: 100px;
    background-color: #373736;
}

#footer a.logo {
    min-width: 260px;
    padding-top: 79px;
    font: normal 18px/30px CeraPro;
    background-image: url(../imgs/logo.svg);
    background-repeat: no-repeat;
    background-size: auto 59px;
    background-position: 0 0;
}

#footer .copy {
    font-size: 18px;
}

#footer .border-bottom {
    border-color: rgba(255, 255, 255, .3)!important;
}

#footer .phone__box a {
    font: bold 24px/34px CeraPro;
}

#footer .phone__box a[href^="mailto:"] {
    font: bold 18px/26px CeraPro;
}


/* footer*/


/* mainMenu */

#mainMenu .nav-link {
    font-size: 18px;
}


/* mainMenu */


/* callbackFormBottom */

#callbackFormBottom::before {
    content: '';
    width: 100%;
    height: 165px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #373736;
}

#callbackFormBottom form {
    padding: 60px 50px;
    box-shadow: 0px 8px 120px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

#callbackFormBottom .phone__box {
    padding-left: 80px;
}

#callbackFormBottom .phone__box::before {
    content: '';
    width: calc(100% + 80px);
    height: calc(100% + 60px);
    display: block;
    position: absolute;
    top: -60px;
    right: -80px;
    background: #FCD9A6 url(../imgs/bg_callbackFormBottom.svg) no-repeat 100% / cover;
    border-radius: 8px;
}

#callbackFormBottom .h2 {
    color: #454442;
}

#callbackFormBottom .phone__box p {
    font: normal 16px/28px CeraPro;
}

#callbackFormBottom .phone__box a {
    display: block;
    font: 500 50px/60px CeraPro;
    color: #454442;
    letter-spacing: -0.02em;
    transition: all 300ms ease;
}

#callbackFormBottom .phone__box a:hover {
    color: #454442!important;
    transform: scale(1.03);
}


/* callbackFormBottom */


/* mainSlider */

#mainSlider {
    background: url(../imgs/bg_mainBanner.svg) no-repeat right 0;
}

#mainSlider .owl-item {
    overflow: hidden;
}

#mainSlider .owl-item>.container>.row {
    min-height: calc(100vh - 274px);
}

#mainSlider .slide__image {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    right: -90px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

#mainSlider .h1 {
    margin-bottom: 40px;
    font: 500 80px/92px CeraPro;
}

#mainSlider p {
    margin-bottom: 60px;
    font: 400 24px/38px CeraPro;
}

#mainSlider .owl__dots {
    padding: 50px 0;
}

#mainSlider .owl__dots button.owl-dot {
    max-width: 12px;
    width: 12px;
    height: 12px;
    padding: 0;
    margin-right: 24px;
    border: 0 none!important;
    outline: 0 none!important;
    background: #FCD9A6;
    opacity: 0.5;
    box-shadow: 0px 2px 30px rgba(231, 178, 113, 0.25);
    border-radius: 4px;
}

#mainSlider .owl__dots button.owl-dot span {
    display: none;
}

#mainSlider .owl__dots button.owl-dot.active,
#mainSlider .owl__dots button.owl-dot:hover {
    opacity: 1;
}


/* mainSlider */


/* services */

#services {
    padding: 130px 0;
    background-color: #FAFAFA;
}

#services .card {
    overflow: hidden;
    box-shadow: 0px 4px 50px rgba(112, 114, 136, 0.15);
    border: 0 none;
    border-radius: 8px;
    background-color: #FCFAF7;
    transition: transform 300ms ease;
}

#services .card:hover {
    transform: scale(1.02);
}

#services .card-body {
    padding: 40px 50px;
}

#services .card-img-overlay {
    padding: 45px 40px;
}

#services .card-text {
    font: 500 18px/26px CeraPro;
    color: #4F4F4F;
}


/* services */


/* portfolio */

#portfolio {
    padding: 130px 0;
}

#portfolio .card {
    background-color: transparent;
    overflow: hidden;
    border: 8px solid rgba(132, 130, 126, 0.1);
    border-radius: 8px;
    transition: transform 300ms ease;
}

#portfolio .card:hover {
    transform: scale(1.02);
}


/* portfolio */


/* advance */

#advance {
    padding: 50px 0;
}

#advance .watchword {
    font: 500 40px/54px CeraPro;
}

#advance .watchword span {
    padding: 5px;
    color: #373736;
    background: #FCD9A6;
    box-shadow: 0px 2px 30px rgba(231, 178, 113, 0.25);
    border-radius: 2px;
}

#advance .dig {
    font: 500 60px/72px CeraPro;
}

#advance ul p {
    font-size: 18px;
}


/* advance */


/* reviews */

#reviews .owl-carousel::before {
    content: '';
    width: 100%;
    height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #373736;
}

#reviews .owl-carousel .card {
    border: 0 none;
    box-shadow: 0px 8px 120px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    background-color: #fff;
}

#reviews .owl-carousel .card-body {
    height: 72px;
    padding: 14px 20px;
    overflow: hidden;
}

#reviews .owl-carousel h4 {
    margin: 0;
    font: 500 18px/26px CeraPro;
    color: #4F4F4F;
}

#reviews .owl-carousel p {
    margin: 0;
    font: normal 14px/18px CeraPro;
    color: #999C9F;
}


/* reviews */


/* willAllow */

#willAllow {
    padding: 100px 0;
    background: #F8F8F8 url(../imgs/bg_willallow.svg) no-repeat 0 calc(100% - 50px);
}

#willAllow p {
    font: 500 24px/34px CeraPro;
    color: #4F4F4F;
}


/* willAllow */


/* orderForm */

#orderForm {
    padding: 90px 0;
    position: relative;
    background-color: #FCD9A6;
}

#orderForm::before {
    content: '';
    width: 50%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    background: url(../imgs/bg_orderForm.svg) no-repeat 0 / cover;
}


/* orderForm */


/* stepsWork */

#stepsWork {
    padding: 100px 0;
}

#stepsWork li {
    font: normal 18px/26px CeraPro;
    color: #4F4F4F;
}

#stepsWork ol {
    list-style-type: none;
    counter-reset: item;
    padding: 0;
}

#stepsWork ol li {
    position: relative;
    min-height: 50px;
    padding-left: 70px;
}

#stepsWork ol li:before {
    content: counter(item);
    counter-increment: item;
    width: 50px;
    height: 50px;
    padding-top: 14px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font: 600 24px/18px Neris;
    color: #4F4333;
    text-align: center;
    background: #FCD9A6;
    box-shadow: 0px 8px 120px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}


/* stepsWork */


/* whatWillGet */

#whatWillGet {
    padding: 100px 0;
}

#whatWillGet .card {
    padding: 65px 30px 30px 30px;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 120px rgba(0, 0, 0, 0.05);
    border: 0 none;
    border-radius: 8px;
    transition: transform 300ms ease;
}

#whatWillGet .card:hover {
    transform: scale(1.02);
}

#whatWillGet .card.bg__img {
    background: url(../imgs/bg_whatwillget.svg) no-repeat 100% / cover;
}

#whatWillGet .card .ico {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -13px;
    left: 30px;
    background: #F2C37E;
    box-shadow: 0px 8px 120px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

#whatWillGet .card h5 {
    font: 500 24px/36px CeraPro;
    color: #4F4F4F;
}

#whatWillGet .card p {
    font: normal 18px/24px CeraPro;
    color: #4F4F4F;
}


/* whatWillGet */