        @import "../fonts/fonts.css";
        /* main */
        
        html,
        body {
            font: normal 15px/26px CeraPro;
            color: #454442;
            background-color: #373736;
        }
        
        #wrapper {
            min-height: 100vh;
            overflow: hidden;
        }
        
        h1,
        .h1 {
            font: 500 60px/72px CeraPro;
            color: #454442;
        }
        
        h2,
        .h2 {
            font: 500 60px/72px CeraPro;
            color: #454442;
        }
        
        p {
            font: normal 15px/26px CeraPro;
            color: #454442;
        }
        
        a {
            color: #fff;
            transition: color 300ms ease;
        }
        
        a:hover {
            color: #FCD9A6!important;
            text-decoration: none;
        }
        
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            max-width: 1470px;
        }
        
        .text-biscuit {
            color: #FCD9A6!important;
        }
        /* main */
        /* ico */
        
        .ico.instagram {
            width: 24px;
            height: 24px;
            display: block;
            background-image: url(../imgs/instagram.svg);
            transition: all 500ms ease;
        }
        
        a:hover .ico.instagram {
            background-image: url(../imgs/instagram_hover.svg);
        }
        /* ico */
        /* button */
        
        .btn {
            padding: 1.35rem 3.35rem;
            font: 600 18px/18px Neris;
            color: #4F4333;
            border: 0 none!important;
            box-shadow: 0px 2px 30px rgba(231, 178, 113, 0.25)!important;
            border-radius: 4px;
        }
        
        .btn-primary {
            background-color: #FCD9A6;
        }
        
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:focus,
        .btn-primary:visited {
            color: #fff;
            background-color: #4F4333!important;
        }
        /* button */
        /* header */
        
        #header {
            background-color: #373736;
        }
        
        #header a.logo {
            min-height: 49px;
            padding-left: 245px;
            font: normal 15px/20px CeraPro;
            background-image: url(../imgs/logo.svg);
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: 0;
        }
        
        #header .border-bottom {
            border-color: rgba(255, 255, 255, .2)!important;
        }
        
        #header button[data-toggle="modal"] {
            padding: 2.335rem 4.335rem;
            font: 600 20px/20px Neris;
            box-shadow: 0px 4px 30px rgba(103, 80, 222, 0.1);
            border-radius: 2px;
        }
        
        #header .phone__box a {
            font: bold 18px/26px CeraPro;
            text-decoration: none;
        }
        /* header */
        /* footer*/
        
        #footer {
            padding-top: 225px;
            background-color: #373736;
        }
        
        #footer a.logo {
            width: 260px;
            height: 59px;
            background-image: url(../imgs/logo.svg);
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: 0;
        }
        
        #footer .copy {
            font-size: 18px;
        }
        
        #footer .border-bottom {
            border-color: rgba(255, 255, 255, .3)!important;
        }
        
        #footer .phone__box a {
            font: bold 24px/35px CeraPro;
        }
        /* footer*/
        /* mainMenu */
        
        #mainMenu .nav-link {
            font-size: 18px;
        }
        /* mainMenu */
        /* callbackForm */
        
        #callbackForm {
            background-color: #F8F8F8;
        }
        
        #callbackForm form {
            padding: 60px 50px;
            margin-bottom: -165px;
            box-shadow: 0px 8px 120px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
        }
        
        #callbackForm label {
            font: normal 16px/24px CeraPro;
            color: #454442;
        }
        
        #callbackForm .form-control {
            font: normal 16px/28px CeraPro;
            color: #454442;
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 2px;
        }
        
        #callbackForm .form-control:focus {
            box-shadow: 0 0 0 0.2rem #FCD9A6;
        }
        
        #callbackForm .form-control::-webkit-input-placeholder {
            color: #848E99;
        }
        
        #callbackForm .form-control::-moz-placeholder {
            color: #848E99;
        }
        
        #callbackForm .form-control:-ms-input-placeholder {
            color: #848E99;
        }
        
        #callbackForm .form-control::-ms-input-placeholder {
            color: #848E99;
        }
        
        #callbackForm .form-control::placeholder {
            color: #848E99;
        }
        
        #callbackForm .phone__box {
            padding-left: 80px;
        }
        
        #callbackForm .phone__box::before {
            content: '';
            width: calc(100% + 80px);
            height: calc(100% + 60px);
            display: block;
            position: absolute;
            top: -60px;
            right: -80px;
            background: #FCD9A6 url(../imgs/bg_callbackForm.svg) no-repeat 100% / cover;
            border-radius: 8px;
        }
        
        #callbackForm .phone__box p {
            font: normal 16px/28px CeraPro;
        }
        
        #callbackForm .phone__box a {
            display: block;
            font: 500 50px/60px CeraPro;
            color: #454442;
            letter-spacing: -0.02em;
            transition: all 300ms ease;
        }
        
        #callbackForm .phone__box a:hover {
            color: #454442!important;
            transform: scale(1.03);
        }
        /* callbackForm */
        /* mainSlider */
        
        #mainSlider .owl-item {
            overflow: hidden;
        }
        
        #mainSlider .owl-item>.container>.row {
            min-height: calc(100vh - 274px);
        }
        
        #mainSlider .slide__image {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: auto;
            right: -90px;
            background-repeat: no-repeat;
            background-position: 100% 50%;
        }
        
        #mainSlider .h1 {
            margin-bottom: 40px;
            font: 500 80px/92px CeraPro;
        }
        
        #mainSlider p {
            margin-bottom: 60px;
            font: 400 24px/38px CeraPro;
        }
        
        #mainSlider .owl__dots {
            padding: 50px 0;
        }
        
        #mainSlider .owl__dots button.owl-dot {
            max-width: 12px;
            width: 12px;
            height: 12px;
            padding: 0;
            margin-right: 24px;
            border: 0 none!important;
            outline: 0 none!important;
            background: #FCD9A6;
            opacity: 0.5;
            box-shadow: 0px 2px 30px rgba(231, 178, 113, 0.25);
            border-radius: 4px;
        }
        
        #mainSlider .owl__dots button.owl-dot span {
            display: none;
        }
        
        #mainSlider .owl__dots button.owl-dot.active,
        #mainSlider .owl__dots button.owl-dot:hover {
            opacity: 1;
        }
        /* mainSlider */